<a href="https://colab.research.google.com/github/umeshkmrgithub/pylab1/blob/master/PYTHON_DS_LAB1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a code get an integer number as input and print the sum of the digits.

Input Description: A single line containing an integer.

Output Description: Print the sum of the digits of the integer.

Sample Input : 124 Sample Output : 7

In [ ]:
def getsum (n):
  sum = 0
  for digit in str(n):
    sum += int(digit)
  return sum

n = input("ENTER THE ANY NUMBERS: ")
getsum(n)

ENTER THE ANY NUMBERS: 12334343

23

Write a code to get an integer N and print the values from N to 1.

Input Description:
A single line contains an integer N.

Output Description:
Print the values from N to 1 in a separate line.

Sample Input :
10
Sample Output :
10
9
8
7
6
5
4
3
2
1

In [5]:
a = int(input())
for i in range(10):
  i -=a
  if i <= a:
    print (abs(i))

10
10
9
8
7
6
5
4
3
2
1

In [2]:
# Convert integers to string using map
x = [1,2,3,4,5]

In [11]:
print (' '.join(map(str, x)))
print ('\n'.join(map(str, x)))

1 2 3 4 5
1
2
3
4
5

In [ ]:
# Python program to print list print the list by using list comprehension

In [12]:
y = [1,2,3,4,5,6]

In [16]:
[print (i, end=" \n") for i in y ]

1
2
3
4
5
6

[None, None, None, None, None, None]

#PRINT THE STRING REVERSE ORDER

In [24]:
a = 'GUVI'

In [34]:
print (a [::-1])

IVUG